//  Variable Overrides

// This overrides existing Bootstrap scss using the color theme changing all primary colors to reddish color 
$theme-colors: (
    "primary": #ffA3BB
);

//  This overrides teh default background color
$body-bg: #F3FFBD;

// This is more familiar and uses the elements class to change default
.jumbotron {
    background-color: #F3FFBD !important;
    border-top: 3px solid rgb(216, 219, 219);
}

// changed color of card backgrounds
.card-body {
    background-color: #b2dbbf;
}

// changed color of text
.navbar-brand .nav-link{
    color: #9cada6;
}

//  Bootstrap SASS Imports
@import "node_modules/bootstrap/scss/bootstrap";

